// main: "../main.less"
html{
    scroll-behavior: smooth;
}
*, body{
    font-family: @font-family;
    font-weight: 400;
}

a{
    text-decoration: none;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

.purple{
    color: @purple1;
}

.green{
    color: @green1;
}